/* ----------------------- RESET --------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------- VARIABLES ----------------------- */

// colors //
$text-color: white;

// fonts //
$primary-font: 'Manrope', sans-serif;
$headline-font: 'Anton', sans-serif;

/* ----------------------- MIXINS ----------------------- */
@mixin cloud {
    opacity: 0.3;
    position: absolute;
    fill: white;
    z-index: 101;
}

/* ------------------ GENERAL STYLES -------------------- */

main {
    overflow: hidden;
}

body {
    font-family: $primary-font;
    color: $text-color;
}

h1 {
    font-family: $headline-font;
    font-size: 13rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    
}

h2 {
    font-size: 3.5rem;
}



.container {
    position: relative;
}

.text {
    max-width: 50%;
    z-index: 1;

    }

.title {
        max-width: 40rem;
        margin: auto;
    }
  
.background {
    background-color: rgb(32, 81, 96);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* ------------------------ CONTENT ---------------------- */

/* ------------------------ INTRO SECTION ---------------------- */
.introbackround {
    width: 100vw;
    height: 120vh; 
    background:radial-gradient(ellipse at bottom, rgb(255, 252, 211) 0%, rgb(142, 233, 210) 35%, #186266 100%);
    overflow-x: hidden;
    position: relative;
}



/* ------------------------- SIGN ------------------------- */

.sign {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 3rem 7rem;

    border: 0.5rem solid $text-color;


    &__subtitle {
        font-family: sans-serif ;
        font-weight: lighter;
        text-transform: uppercase;
        letter-spacing: 1.7px;
        color: $text-color;
        text-align: center;
        font-size: 0.75rem;
        font-weight: lighter;
    }
}
/* --------------------------- CLOUDS --------------------- */
.cloud {
    &-01 {
    @include cloud;
    width: 25rem;
    top: 5rem;
    left: 30rem;
    }

    &-02{
    @include cloud;
    width: 40rem;
    top: 2rem;
    left: 20vw;

    }

    &-03{
    @include cloud;
    width: 40rem;
    top: -6em;
    left: 50vw;
    }

    &-04{
    @include cloud;
    width: 50rem;
    top: -2rem;
    left: 50vw;
    }
    
    &-05{
    @include cloud;
    width: 60rem;
    top: 0rem;
    left: -20vw;
    }

    &-06 {
    @include cloud;
    width: 35rem;
    top: 3rem;
    right: -10rem;
     }

}

.waves {
    position: absolute;
    bottom: -1rem;
    left: -10rem;


}

.waves01{
    position: absolute;
    bottom: -1rem;
    left: 0;
}


/* ---------------------- ONCE UPON TIME SECTION -------------------- */

.background-ocean {
    background-color: rgb(32, 81, 96);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.fish-sc1 {
    height: 12rem;
    z-index: 100;
    position: relative;

}

.seaweed-sc1 {
    position: absolute;
    max-height: 25rem;
    bottom: 20rem;
}
//   BUBBLES

.bubble-wrapper {
    width: 20rem;
    height: 20rem;
    position: absolute;
    bottom: 25rem;
    left: 25rem;
  
    &> div {
      background-color: $text-color;
      position: absolute;
      border-radius: 50px;
    }
}
.bubble {
    &-1 {
    width: 1.5rem;
    height: 1.5rem;
    bottom: 0;
    left: 15px;
    animation: bubbleOne 4s linear infinite;

    @keyframes bubbleOne {
        0% { bottom: 0; left: 15px; opacity: 0 }
        50% { bottom: 50%; left: 30%; opacity: 1 }
        100% { bottom: 100%; left: 80%; opacity: 0 }
      }
    
  }

    &-2 {
    width: 1.5rem;
    height: 1.5rem;
    bottom: 1rem;
    left: 1.5rem;
    animation: bubbleTwo 7s linear infinite;

    @keyframes bubbleTwo {
        0% { bottom: 10px; left: 25px; opacity: 0 }
        50% { bottom: 40%; left: 40%; opacity: 1 }
        100% { bottom: 90%; left: 70%; opacity: 0 }
      }
  }

    &-3 {
    width: 2rem;
    height: 2rem;
    bottom: 1rem;
    left: 1.5rem;
    animation: bubbleThree 7s linear infinite;

    @keyframes bubbleThree {
        0% { bottom: 30px; left: 5px; opacity: 0 }
        50% { bottom: 30%; left: 50%; opacity: 1 }
        100% { bottom: 100%; left: 90%; opacity: 0 }
      }
    }

    &-4 {
    width: 2.5rem;
    height: 2.5rem;
    bottom: 5rem;
    left: 3rem;
    animation: bubbleFour 7s linear infinite;

        @keyframes bubbleFour {
        0% { bottom: 40px; left: 35px; opacity: 0 }
        50% { bottom: 60%; left: 60%; opacity: 1 }
        100% { bottom: 100%; left: 80%; opacity: 0 }
         } 
    }
}
.mountain {
    position: absolute;
    bottom: -55rem;
    left: 15rem; 
    opacity: 0.5;
}

.mountain-bg {
    position: absolute;
    bottom: -35rem;
    right: 0;
    width: 120rem;
   
}



/* ---------------------- DREAMING SECTION-------------------- */

  .night {
    background-color: rgb(28, 17, 88);
  }

  .bed {
      max-height: 25rem;
  }

.scene-dreaming {
   position: relative;
  }
.dream{
    position: absolute;
    max-width: 11rem;
    left: -10rem;
    top: -10rem;
}
.dream02{
    position: absolute;
    max-width: 3rem;
    left: -5rem;
    top: 2rem;
}
.dream03{
    position: absolute;
    max-width: 1rem;
    left: -1rem;
    top: 7rem;
}

/* ---------------------- FISHGROUP SECTION-------------------- */

.fishgroup {
    background: linear-gradient(0deg, rgba(32,81,96,1) 0%, rgba(28,17,88,1) 100%);
}

.wrapper {
    position: relative;
}

.fish-sc3 {
    max-height: 10rem;
    padding: 0 7rem;
}
.coral {
    position: absolute;
    bottom: -10rem;
    max-height: 17rem;
    left: -7rem;
}
.coral02 {
    position: absolute;
    bottom: -11rem;
    max-height: 25rem;
    left: 15rem;
}

.crab {
    position: absolute;
    max-height: 7rem;
    bottom: -9rem;
    left: 10rem;
}
.fugu {
    position: absolute;
    max-height: 6rem;
    top: -5rem;
    left: 0rem;
}
.dori {
    position: absolute;
    max-height: 10rem;
    top:-10rem;
    left: 20rem;
    transform: scaleX(-1);
}

/* ---------------------- DONT GIVE UP SECTION -------------------- */

.fish-sc4 {
    transform: scaleX(-1);
    padding: 0 5rem;
    position: relative;
    z-index: 2;
}

.spanner {
    position: absolute;
    transform: scaleX(-1);
    transform: rotate(200deg);
    top: 10rem ;
    left: 8rem;
    max-width: 5rem;
    z-index: 3;
}

.desk {
    position: absolute;
    top: 5rem;
    left: -5rem;
    max-width: 20rem;
    z-index: 1;
}


.feathers {
    position: absolute;
    top: 4rem;
    left: 0rem;
    max-width: 5rem;
    z-index: 1;
}

.bolts {
    position: absolute;
    top: 4.2rem;
    left: -5rem;
    max-width: 5rem;
    z-index: 1;
}

.window {
    position: absolute;
    top: -8rem;
    left: 10rem;
    max-width: 15rem;
}

.coral-bg {
    position: absolute;
    transform: rotate(270deg);
    right: -10rem;
    top: -27rem;
    max-width: 70vh;
    opacity: 0.3;
}

.coral-bg02{
    position: absolute;
    transform: rotate(270deg);
    right: -15rem;
    top: -35rem;
    max-width: 60vh;
    opacity: 0.9;
}

.fish {
    position: absolute;
    bottom: -2rem;
    left: 0;
}
/* ---------------------- READY SECTION -------------------- */

.ready {
    background: linear-gradient(0deg, rgb(79, 136, 153) 0%, rgba(32,81,96,1) 100%);
}

.scene-ready {
      position: relative;
      z-index: 100;
}


.fish-sc5 {
    transform: rotate(60deg);
  
    z-index: 20;
}

.wing{
    position: absolute;
    top: -3rem;
    left: 5rem;
    max-height: 11rem;
    transform: rotate(70deg);
    z-index: 2;
    filter: drop-shadow( 0px -15px 5px rgba(0, 0, 0, .15));
}

.wing02{
    position: absolute;
    top: -3rem;
    left: 7rem;
    z-index: 0;
    max-height: 10rem;
    transform: rotate(90deg);
    z-index: 0;
}


/* ---------------------- SKY SECTION -------------------- */

.sky {
    background: linear-gradient(0deg, rgb(139, 186, 201) 0%, rgba(79, 136, 153,1) 100%);
}
.waves02{
    transform: scaleY(-1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.city-back {
    position: absolute;
    opacity: 0.3;
    width: 100vw;
    bottom: -25rem;
    z-index: 1;
}

.city-front {
    position: absolute;
    bottom: -30rem;
    width: 100vw;
    z-index: 1;

}


.sun {
	width: 200px;
	height: 200px;
	background-color: rgb(255, 252, 211);
	border-radius: 50%;
	box-shadow:
		0 0 0 20px rgba(255, 252, 211, 0.5),
		0 0 0 40px rgba(255, 252, 211,0.7),
		0 0 0 60px rgba(255, 252, 211, 0.6),
		0 0 0 80px rgba(255, 252, 211,0.5),
		0 0 0 100px rgba(255, 252, 211, 0.3),
		0 0 50px 100px rgba(255, 252, 211, 0.7);
    animation:
		sunrise 5s infinite linear alternate-reverse,
		

}
@keyframes sunrise {
	0% {
		box-shadow: none;
	}
}

        
/* ---------------------- UNIVERSE SECTION -------------------- */
.universe {
    background: linear-gradient(0deg, rgb(62, 91, 153) 0%, rgb(139, 186, 201) 70%);
}

.text {
    position: relative;
    z-index: 3;
}

canvas {
    position: absolute;
    bottom: 0;
    background-color: rgb(44,60,68);
      background: linear-gradient(0deg, rgb(62, 91, 153) 0%, rgb(44,60,68) 70%);
    z-index: 2;
}

/* ---------------------- RESPONZIVITY -------------------- */

@media (max-width: 1500px) {

    .title {
        max-width: 34rem;
    }

    .background {
        justify-content: space-around;
    }
    h2 {
        font-size: 3.0rem;
    }

}

@media (max-width: 1350px) {
    .title {
        max-width: 31rem;
    }

    h2 {
        font-size: 2.7rem;
    }

    .cloud {
        &-01 {
        width: 19rem;
        }
        &-02 {
        width: 25rem;
        }
        &-03 {
        width: 20rem;
        }
        &-04 {
        width: 45rem;
        }

        &-05 {
        width: 45rem;
        }

    }



}

@media (max-width: 1250px) {
    .title {
        max-width: 29rem;
    }

    h2 {
        font-size: 2.5rem;
    }

}

@media (max-width: 1100px) {
    .title {
        max-width: 22rem;
    }

    h2 {
        font-size: 2.3rem;
    }

    .cloud {
        &-01 {
        width: 15rem;
        }
        &-02 {
        width: 20rem;
        }
        &-03 {
        width: 15rem;
        }
        &-04 {
        width: 40rem;
        }
        
        &-05 {
        width: 40rem;
        }

    }

}

@media (max-width: 1030px) {
    .title {
        max-width: 18rem;
    }

    h2 {
        font-size: 2.0rem;
    }

    .coral02{
    max-height: 15rem;
    }
    .coral{
    left: -5rem;
    }
    .dori{
        left: 15rem;
        }

    h1 {
        font-size: 11rem;
    }
}

@media (max-width: 890px) {
    .seaweed-sc1 {
        max-height: 20rem;
    }

    .fish-sc1 {
        height: 10rem;
    }

    .bed{
        max-height: 20rem;
    }

    .desk {
        max-width: 15rem;
        left: 0rem;
    }
    
    .bolts, .feathers {
        display: none;
    }
    
    .fish-sc4 {
        max-height: 11rem;
    }

    .dori {
        max-height: 7rem;

    }
    .spanner {
        top: 8.5rem;
        left: 7.5rem;
        max-width: 4rem;
    }

    .cloud {
        &-01 {
        width: 10rem;
        }
        &-02 {
        width: 15rem;
        }
        &-03 {
        width: 10rem;
        }
        &-04 {
        width: 20rem;
        }
        
        &-05 {
        width: 30rem;
        }
         
    }

}

@media (max-width: 750px) {
    .background {
        flex-direction: column;
    }

    .title {
        max-width: 30rem;
    }

    .text {
    max-width: 70%;
    text-align: center;
    order: -1;
    }

    .seaweed-sc1 {
        bottom: 10rem;
        bottom: 15rem;
        left: 7rem;
    }

    .fish-sc1 {
        height: 10rem;
        left: -4rem;
        bottom: 7rem;
    }

    .coral-bg02 {
        display: none;
    }

    .scene-ready {
        z-index: 100;
    }

    h1 {
        font-size: 9rem;
    }

    .city-back {
        bottom: -25rem;
    }
    .city-front {
        bottom: -25rem;
    }
}


@media (max-width: 630px) {

    .dream {
        max-width: 8rem;
        left: -7rem;
    }

    .sign {
    padding: 1rem 4rem;
    }

    

    .cloud {
        &-01 {
        width: 10rem;
        }
        &-02 {
        width: 15rem;
        }
        &-03 {
        width: 10rem;
        }
        &-04 {
        width: 20rem;
        }
        
        &-05 {
        width: 20rem;
        }
        &-06 {
        width: 20rem;
        }
    }
       
}

@media (max-width: 530px) {

    .dream {
        left: -2rem;
        top: -8rem;
    }

    .dream02 {
        left: -3rem;
    }

    .seaweed-sc1 {
        max-height: 18rem;
        left: 5rem;
    }

    .coral {
        left: -2rem;
        bottom: -5rem;
        max-height: 12rem;
    }
    .coral02 {
        bottom: -5rem;
    }

    .crab {
        max-height: 5rem;
        bottom: -5rem;
    }

    .dori {
        left: 10rem;
    }
    
    h1 {
        font-size: 7rem;
    }
    .sun {
        width: 100px;
	    height: 100px;
    }
}

@media (max-width: 430px) {
   
    .bed{
      max-height: 15rem; 
   }
   
   .coral02 {
    max-height: 10rem;
    }

    .window {
        left: 5rem;
    }

    .desk {
        left: 4rem;
    }

}
